{% extends 'base.html.twig' %}

{% block title %}Modifier la Réponse{% endblock %}

{% block body %}
    <h1>Modifier la Réponse</h1>

    {{ form_start(form) }}
        {{ form_row(form.contenu) }}
        <button class="btn btn-primary">Mettre à jour</button>
    {{ form_end(form) }}

    <a href="{{ path('reponse_index') }}" class="btn btn-secondary">Retour</a>
{% endblock %}
